<form [formGroup]="bookForm" (ngSubmit)="submitForm()">

  <div class="form-group">
    <label for="isbn">ISBN</label>
    <input formControlName="isbn" type="text" id="isbn" class="form-control">

    <div *ngIf="isInvalid('isbn')" class="feedback-error">
      Error: Please enter a valid ISBN!
    </div>

    <div *ngIf="hasError('isbn', 'required')"
      class="feedback-error">
      Error: Please enter any text.
    </div>

    <div *ngIf="hasError('isbn', 'minlength')"
      class="feedback-error">
      Error: Please enter at least 3 characters.
    </div>
  </div>

  <div class="form-group">
    <label for="title">Title</label>
    <input formControlName="title" type="text" id="title" class="form-control">
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea formControlName="description" id="description" class="form-control"></textarea>
  </div>

  <button
    [disabled]="bookForm.invalid"
    class="btn btn-primary mb-4" type="submit">
    Create
  </button>
</form>
