<form [formGroup]="bookForm">

  <div class="form-group">
    <label for="isbn">ISBN</label>
    <input formControlName="isbn" type="text" id="isbn" class="form-control">
  </div>

  <div class="form-group">
    <label for="title">Title</label>
    <input formControlName="title" type="text" id="title" class="form-control">
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea formControlName="description" id="description" class="form-control"></textarea>
  </div>

  <button class="btn btn-primary mb-4" type="submit">
    Create
  </button>
</form>
