<ng-container *ngIf="book$ | async as book; else loading">

  <h2>Book
    {{ book.title }}
    {{ book.price | currency: 'EUR' }}
  </h2>

  <p *ngIf="showDetails">
    Details:
    {{ book.description }}
  </p>

  <button
    (click)="showDetails = !showDetails"
    class="btn btn-primary">
    Toggle Details
  </button>

</ng-container>

<ng-template #loading>
  <h3>Loading...</h3>
</ng-template>

<a
  class="btn btn-secondary ml-2 mr-2"
  routerLink="/books/9783864902079">Go to 9783864902079</a>

<a
class="btn btn-secondary"
routerLink="/books/404">Go to 404</a>
